dp/dp-gateway/src/main/webapp/wsdl/DocumentWS.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://client.service.soap.dp.kingmed.com" xmlns:intf="http://client.service.soap.dp.kingmed.com" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns1="urn:fault.service.soap.dp.kingmed.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://client.service.soap.dp.kingmed.com">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:fault.service.soap.dp.kingmed.com">
   <import namespace="http://xml.apache.org/xml-soap"/>
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="DocumentWSFault">
    <sequence>
     <element name="cause" nillable="true" type="xsd:anyType"/>
     <element name="message" nillable="true" type="soapenc:string"/>
    </sequence>
   </complexType>
  </schema>
  <schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://xml.apache.org/xml-soap">
   <import namespace="urn:fault.service.soap.dp.kingmed.com"/>
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="mapItem">
    <sequence>
     <element name="key" nillable="true" type="xsd:anyType"/>
     <element name="value" nillable="true" type="xsd:anyType"/>
    </sequence>
   </complexType>
   <complexType name="Map">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="item" type="apachesoap:mapItem"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="updateDocumentByDomainUserRequest1">

      <wsdl:part name="documentId" type="soapenc:string">

      </wsdl:part>

      <wsdl:part name="parameters" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="domainUserId" type="soapenc:string">

      </wsdl:part>

      <wsdl:part name="applicationId" type="soapenc:string">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="updateDocumentByDomainUserResponse1">

      <wsdl:part name="createDocumentByDomainUserReturn" type="xsd:int">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="createDocumentByDomainUserRequest">

      <wsdl:part name="formName" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="parameters" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="domainUserId" type="soapenc:string">

      </wsdl:part>

      <wsdl:part name="applicationId" type="soapenc:string">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="createDocumentByDomainUserResponse">

      <wsdl:part name="createDocumentByDomainUserReturn" type="xsd:int">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="DocumentWSFault">

      <wsdl:part name="fault" type="tns1:DocumentWSFault">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="NewOperationRequest">
   	<wsdl:part name="NewOperationRequest" type="xsd:string"/>
   </wsdl:message>
   <wsdl:message name="NewOperationResponse">
   	<wsdl:part name="NewOperationResponse" type="xsd:string"/>
   </wsdl:message>
   <wsdl:message name="createDocumentByDomainUserV1Request1">
   	<wsdl:part name="caseParams" type="apachesoap:Map"/>
   	<wsdl:part name="leaveParams" type="apachesoap:Map"/>
   	<wsdl:part name="sectionParams" type="apachesoap:Map"/>
   	<wsdl:part name="domainUserId" type="xsd:string"/>
   	<wsdl:part name="applicationId" type="xsd:string"/>
   </wsdl:message>
   <wsdl:message name="createDocumentByDomainUserV1Response1">
   	<wsdl:part name="createDocumentByDomainUserReturn" type="xsd:int"/>
   </wsdl:message>
   <wsdl:message name="createDocumentByDomainUserV1Fault">
   	<wsdl:part name="fault" type="xsd:string"/>
   </wsdl:message>
   <wsdl:portType name="DocumentWS">

      <wsdl:operation name="createDocumentByDomainUser" parameterOrder="formName parameters domainUserId applicationId">

         <wsdl:input message="impl:createDocumentByDomainUserRequest" name="createDocumentByDomainUserRequest">

       </wsdl:input>

         <wsdl:output message="impl:createDocumentByDomainUserResponse" name="createDocumentByDomainUserResponse">

       </wsdl:output>

         <wsdl:fault message="impl:DocumentWSFault" name="DocumentWSFault">

       </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="updateDocumentByDomainUser" parameterOrder="documentId parameters domainUserId applicationId">

         <wsdl:input message="impl:updateDocumentByDomainUserRequest1" name="updateDocumentByDomainUserRequest1">

       </wsdl:input>

         <wsdl:output message="impl:updateDocumentByDomainUserResponse1" name="updateDocumentByDomainUserResponse1">

       </wsdl:output>

         <wsdl:fault message="impl:DocumentWSFault" name="DocumentWSFault">

       </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="createDocumentByDomainUserV1">
      	<wsdl:input message="impl:createDocumentByDomainUserV1Request1" name="createDocumentByDomainUserV1Request1"/>
      	<wsdl:output message="impl:createDocumentByDomainUserV1Response1" name="createDocumentByDomainUserV1Response1"/>
            <wsdl:fault message="impl:DocumentWSFault" name="DocumentWSFault"/>
        </wsdl:operation>
   </wsdl:portType>

   <wsdl:binding name="DocumentWSSoapBinding" type="impl:DocumentWS">

      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="updateDocumentByDomainUser">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="updateDocumentByDomainUserRequest1">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://client.service.soap.dp.kingmed.com" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="updateDocumentByDomainUserResponse1">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://client.service.soap.dp.kingmed.com" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="DocumentWSFault">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="DocumentWSFault" namespace="http://client.service.soap.dp.kingmed.com" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="createDocumentByDomainUser">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="createDocumentByDomainUserRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://client.service.soap.dp.kingmed.com" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="createDocumentByDomainUserResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://client.service.soap.dp.kingmed.com" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="DocumentWSFault">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="DocumentWSFault" namespace="http://client.service.soap.dp.kingmed.com" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>
      
      <wsdl:operation name="createDocumentByDomainUserV1">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="createDocumentByDomainUserV1Request1">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://client.service.soap.dp.kingmed.com" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="createDocumentByDomainUserV1Response1">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://client.service.soap.dp.kingmed.com" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="DocumentWSFault">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="DocumentWSFault" namespace="http://client.service.soap.dp.kingmed.com" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>
      
   </wsdl:binding>

   <wsdl:service name="DocumentWSService">

      <wsdl:port binding="impl:DocumentWSSoapBinding" name="DocumentWS">

         <wsdlsoap:address location="http://epathology.kingmed.com.cn:99/dp/services/DocumentWS"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
